DATABASE_URL="postgresql+psycopg://postgres:wolf@localhost:5432/chatbot_db"
OPENAI_API_KEY=update_me_please_please

# Azure OpenAI
AZURE_OPENAI_API_KEY="update_me_please_please"
AZURE_OPENAI_ENDPOINT="https://link-link.azure.com"
AZURE_OPENAI_DEPLOYMENT="gpt-5.4-mini"