DATABASE_URL="postgresql+psycopg://postgres:wolf@localhost:5432/chatbot_db"

# Para usar o postgres com suporte ao PGVector
# DATABASE_URL="postgresql+psycopg://dbadmin:Wolfros!#$123@localhost:5435/chatbot_db" 

OPENAI_API_KEY=update_me_please_please